header {
  height: calc(100vh - var(--menu-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--h-padding);
  overflow: hidden;
}

header .description {
  overflow: visible;
}

header .description p {
  margin-bottom: 0px;
}

header .highlight-text {
  font-size: var(--title-font-size);
  width: 100%;

  font-family: "April";
}

header button {
  padding: 20px 30px;
  background-color: var(--accent);
  font-family: "Quicksand";
  font-size: var(--nav-font-size);
  font-weight: bolder;
  color: black;
}

#hendrik_lelis__img {
  width: 500px;
  filter: drop-shadow(rgb(36, 36, 36) 0 0 15rem);
}

header .logo-img {
  display: none;
}

@media only screen and (max-width: 900px) {
  #hendrik_lelis__img {
    width: 400px;
    filter: drop-shadow(rgb(36, 36, 36) 0 0 15rem);
  }
}

.scrollButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.scrollButton a {
  text-decoration: none;
  font-size: .75rem;
}

.scrollIcon {
  display: inline-block;
  position: relative;
  animation: 2.5s scrollIcon infinite;
  color: #fff;
}

@keyframes scrollIcon {
  0% {
    opacity: 0;
    top: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 15px;
  }
}
