section {
  margin: 3rem var(--h-padding) !important;
  overflow: hidden;
}

.inlineSroll{
  display: flex;
  overflow-x: auto;
}
.inline{
  display: flex;
}

.title {
  font-family: "April" !important;
  display: flex;
  align-items: center;
}

.title svg {
  font-size: 0.75rem;
  margin-right: 0.5rem;
  color: var(--accent) !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f107;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 52, 52);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
